* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: rgb(0, 0, 124);
}

#container {
    display: flex;
    flex-wrap: wrap;
    max-width: 90%;
    width: 1000px;
    margin: auto;
} 

.box {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: deepskyblue;
    margin: 1rem;
}
.fizzbuzz {
    background-color: red;
}
.buzz {
    background-color: yellow;
}
.fizz {
    background-color: green;
}
